<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css.css" type="text/css"/>
    <title>2012 special</title>
  </head>
  <body>
    <div id="main">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div id="messages">
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div id="akeome">
        みなさまあけましておめでとうございます。今回は年賀状にナゾを仕込んでみたのですが、いかがでしたでしょうか。。。
        一晩くらいでサクッと考えてみたものだったので、すこし難易度がむちゃくちゃだったかもしれません。すみません＞＜
        今年もどうぞよろしくおねがいします！良い一年になりますよう！それでは！
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
