<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css.css" type="text/css"/>
    <title>2012 special</title>
  </head>
  <body>
    <div id="main">
      <div id="celebrate">
        <h1>あけましておめでとうございます！</h1>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div id="messages">
        {% for message in messages %}
        {{ message }}<br>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      <div id="akeome">
        　以上でナゾトキは終了です。お疲れ様でした。そして、あけましておめでとうございます。今回は年賀状にナゾを仕込んでみたのですが、いかがでしたでしょうか。。。
        一晩くらいでサクッと考えてみたものだったので、すこし難易度がむちゃくちゃだったかもしれません。すみません＞＜<br><br>
       　 去年は大地震などもあり、より忙しい一年となりました。本当にあっという間だったと思います。まだまだ地震の影響などは残りますが、まけずに進んでいけたらと思います！
       今年もどうぞよろしくおねがいします！より良い一年になりますよう！それでは！<br><br>
     </div>
     <a href="/omake">おまけ</a>
    </div>
    {% include "footer.html" %}
  </body>
</html>
