<h1>How To Make the Akeome Application</h1>

<p>　はい。そうです。おまけページとはこのことです。どうやってこのページが動いているのか？
気になる人もいるかも？とおもったので、おまけページということで作ってみました。</p>

<h2>使った技術</h2>

<ul>
<li><a href="http://www.heroku.com/">Heroku</a>(Pythonのホスティング環境として)</li>
<li><a href="http://python.org/">Python</a>(プログラミング言語として)</li>
<li><a href="http://flask.pocoo.org/">Flask</a>(Python用のマイクロWebフレームワーク)</li>
<li><a href="http://jinja.pocoo.org/">jinja2</a>(Flaskの依存モジュールとして、テンプレート周り)</li>
<li><a href="http://werkzeug.pocoo.org/">werkzeug</a>(Flaskの依存モジュールとして、サーバーまわり)</li>
<li><a href="http://colorschemedesigner.com/#0.11Tg0sHw0w0">ColorSchemeDesigner</a>(色の決定をするWebサービス)</li>
</ul>

<h3>Heroku?</h3>

<p>　Rubyをつくったまつもとゆきひろさんも居るあのHerokuです。僕らはWebサービスを作るだけで良くて、
サーバーで起動したりとか、必要なライブラリとかを勝手にインストールしてくれます。むっちゃ楽です。</p>

<p>　HerokuはRubyしか動かないのかな？と思っていたのですが、全くそんなこと無くて、Pythonや、Node.jsなんかも使えるんですよね。</p>

<p>　同じようなサービスで、GoogleAppEngineという、Googleがやっているサービスもあるのですが、そっちは
デプロイ（アップロードする作業とか）も遅い気がするし、データベースの扱いが面倒なのでこっちがいいなと思いました。
（別に今回DB使ってないけど）また、デプロイもGitのpush一つで楽々です。Gitを使ってバージョン管理もできるので便利ですね。</p>

<p>　あと、また言語の話に戻りますけど、GAEはPythonとJava、Goくらいしか使えないので、あんまりお手軽感は無いんですよねー。それに比べHerokuは良いなぁーと。</p>

<h3>Python?</h3>

<p>　Pythonは、インデントでブロックを分けるのが特徴のスクリプト言語です。海外では注目されていて、
Googleなどでは盛んに使われています。日本じゃ「Google言語」なんかとも言われちゃう時もありました。</p>

<p>　PythonはC言語などと比べてとってもらくちんな言語です。触ってみればわかりますが、そりゃあもう、らくちんです。
その他にも楽ちんな言語はたくさんあります。Rubyとか、Perlとか、まぁいろいろあります。だけど僕はPythonがすきでーす。</p>

<h3>Flask?</h3>

<p>　Flaskは、Python用のマイクロWebフレームワークです。今回のように、ちっこいプロジェクトに向いています。
もしこのURLにきたらこの応答をする（ルーティング）とか、いろいろできます。
ただ、あんまり日本語の資料が多くないのが難点かもですね。でも、触ってる人はたくさんいるので、どうにでもなると思います。</p>

<p>　Rubyでいうと、Sinatraっていうものがあります。それがFlaskとにていますね。jinja2とwerkzeugはFlask自体で使われている
ライブラリです。こいつらが居ないとFlaskがうごきません。</p>

<h2>Source</h2>

<p>　ソースを見るのが楽ちんですよね。なので、いちおうソースコードをあげておきます。</p>

<p>　<a href="http://github.com/mactkg/akeome2012/">ソースコード</a></p>

<p>　テキトーに作ったので、HTMLとかソースとかむっちゃ酷いと思いますがそこらへんは勘弁して下さい。
Pythonらしくも書いてないかな…わかんないです。まだまだ修行が足りないので、ちゃんとしないとな…
今年は、高校で課題研究があってがりがり開発するんですかね…！がんばります＞＜
　</p>
